<div class="container d-flex jestify-content-center text-light">
    <div class="row col-12 my-3 about ">
        <div class="text-center">
            <h2>Hi This is <b>Ranjit Kumar Maddala</b> </h2>
            <h4>Welcome to my <b>ABC Banking</b> full stack web applcation.</h4> 
        </div>
        <div style="padding-left: 270px;">
            <h4>
                In this application i have implemented some of the basic functionalities that a bank has,
                like <br>
                <ul>
                    <li>Login</li>
                    <li>Registering</li>
                    <li>Doing Transaction</li>
                    <li>Dash Board</li>
                    <li>Logout</li>
                </ul>
            </h4>
        </div>
    
    <div class="desc">
        <h4>whenever we are opeing the application it lands on Home Page</h4>
        <label> Login </label>
        <p>
            
        </p>
    </div>
         
    </div>
</div>