<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">
      
        <a class="navbar-brand" href="#">ABC Banking</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Loans</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Investments</a>
          </li>

          <li class="nav-item" *ngIf="!loggedIn">
            <a class="nav-link" [routerLink]="['/login-register']">Login / Register</a>
          </li>

          

          <li class="nav-item dropdown" *ngIf="loggedIn">
            <a class="nav-link" [routerLink]="['/transaction']">Transactions</a>
          </li>

          <li class="nav-item dropdown" *ngIf="loggedIn">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Account Related
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Open New Account</a></li>
              <li><a class="dropdown-item" [routerLink]="['/profile']">Profile</a></li>
              <li><a class="dropdown-item" [routerLink]="['/dash']">Banking Dash Board</a></li>
              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" [routerLink]="['/about']">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <router-outlet></router-outlet>
  


<footer class="footer mt-auto ">
  <div class="text-center py-3 border-top">
    &copy; 2024 ABC BANK. All Rights Reserved.
  </div>
</footer>

        
        
        
