/* You can add global styles to this file, and also import other style files */
html,body{
    background-image: url(./assets/b2.jpg); 
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
